<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing</title>
</head>
<body>
    <div id="app" class="container">   
        <form action="" class="text-center">
            <input v-model="name" @keyup.enter="crearVisita" type="text" class="form-control" placeholder="Nombre del Visitante">
            <input v-model="dep" @keyup.enter="crearVisita" type="text" name="edad" placeholder="Departamento a Visitar" class="form-control">
            <input v-model="person" @keyup.enter="crearVisita" type="text" name="edad" placeholder="Persona a Visitar" class="form-control">
            <input v-model="ip" @keyup.enter="crearVisita" type="text" name="edad" placeholder="IP" class="form-control">
            <!-- Boton -->
            <input @click="crearVisita" type="button" value="Añadir" class="btn btn-success">

        </form>
        <h3>{{info}}</h3>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="script.js"></script>

    
      
</body>

</html>